consumidor/ConsumidorLabServicios/ConsumidorLabServicios/Connected Services/ServiceReferenceSOAP/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConexionDB">
        <s:complexType />
      </s:element>
      <s:element name="ConexionDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConexionDBResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCotizacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCotizacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerCotizacionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarCotizacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="monto_oficial" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarCotizacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registrarCotizacionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConexionDBSoapIn">
    <wsdl:part name="parameters" element="tns:ConexionDB" />
  </wsdl:message>
  <wsdl:message name="ConexionDBSoapOut">
    <wsdl:part name="parameters" element="tns:ConexionDBResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerCotizacionSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerCotizacion" />
  </wsdl:message>
  <wsdl:message name="obtenerCotizacionSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerCotizacionResponse" />
  </wsdl:message>
  <wsdl:message name="registrarCotizacionSoapIn">
    <wsdl:part name="parameters" element="tns:registrarCotizacion" />
  </wsdl:message>
  <wsdl:message name="registrarCotizacionSoapOut">
    <wsdl:part name="parameters" element="tns:registrarCotizacionResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="ConexionDB">
      <wsdl:input message="tns:ConexionDBSoapIn" />
      <wsdl:output message="tns:ConexionDBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerCotizacion">
      <wsdl:input message="tns:obtenerCotizacionSoapIn" />
      <wsdl:output message="tns:obtenerCotizacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarCotizacion">
      <wsdl:input message="tns:registrarCotizacionSoapIn" />
      <wsdl:output message="tns:registrarCotizacionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConexionDB">
      <soap:operation soapAction="http://tempuri.org/ConexionDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCotizacion">
      <soap:operation soapAction="http://tempuri.org/obtenerCotizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarCotizacion">
      <soap:operation soapAction="http://tempuri.org/registrarCotizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConexionDB">
      <soap12:operation soapAction="http://tempuri.org/ConexionDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCotizacion">
      <soap12:operation soapAction="http://tempuri.org/obtenerCotizacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarCotizacion">
      <soap12:operation soapAction="http://tempuri.org/registrarCotizacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:52273/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:52273/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>